# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias -- -="cd -"

# List all files colorized in long format, including dot files
alias la="ls -Gla"

# Shortcuts
alias p="cd ~/projects"
alias c="cd ~/cornerstone"
alias e="emacs"

# spork test client
alias st="bundle exec testdrb -Itest"
alias sta="st test/**/*.rb"

# Git stuff
alias gca="git commit -am"
alias gits="git status"

# Undo a `git push`
alias undopush="git push -f origin HEAD^:master"

# git root
alias gr='[ ! -z `git rev-parse --show-cdup` ] && cd `git rev-parse --show-cdup || pwd`'

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Kill spotify cache
alias ksc="rm -rf Library/Caches/com.spotify.client/"

# SSH shortcuts
alias fdb="ssh fade01admin@fader_firehost_db"
alias fwww="ssh fade01admin@fader_firehost_www"
alias pepsi="ssh gjacklone@rogue.tribalddb.net"

# Postgres
alias pgstart="pg_ctl -D /usr/local/var/postgres -l /usr/local/var/postgres/server.log start"
alias pgstop="pg_ctl -D /usr/local/var/postgres stop -s -m fast"

# Disable Spotlight
alias spotoff="sudo mdutil -a -i off"
# Enable Spotlight
alias spoton="sudo mdutil -a -i on"

# IB API client
alias ibapi_start="cd ~/IBJts && java -cp jts.jar:hsqldb.jar:jcommon-1.0.12.jar:jhall.jar:other.jar:rss.jar -Dsun.java2d.noddraw=true -Xmx512M ibgateway.GWClient ."