# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias -- -="cd -"

# List all files colorized in long format, including dot files
alias la="ls -Gla"

# Shortcuts
alias p="cd ~/projects"
alias c="cd ~/cornerstone"

# spork test client
alias st="bundle exec testdrb -Itest"

# Git stuff
alias gca="git commit -am"

# Undo a `git push`
alias undopush="git push -f origin HEAD^:master"

# git root
alias gr='[ ! -z `git rev-parse --show-cdup` ] && cd `git rev-parse --show-cdup || pwd`'